

#navstyle #home {
	font-size: 1.2em;
	width: 46px;}
#navstyle #intro {
	font-size: 1.2em;
	width: 84px;}
#navstyle #news {
	font-size: 1.2em;
	width: 161px;}
#navstyle #events {
	font-size: 1.2em;
	width: 153px;}
#navstyle #people {
	font-size: 1.2em;
	width: 51px;}
#navstyle #courses {
	font-size: 1.2em;
	width: 56px;
}
